<div   *ngIf="product.title" class="card" style="width: 15rem;">
    <img   *ngIf="product.imageUrl" class="card-img-top" [src]="prdouct.imageUrl" alt="{{product.title}}">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.price | currency:'USD':true}}</p>
     
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button (click)="addToCart()"  class="btn btn-primary btn-block"  *ngIf="getQuantity(prdouct)===0;else updateQuantity" >Add to cart</button>
        

    </div>
    <ng-template #updateQuantity>
        <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
</ng-template>


   </div>


   <!-- <div *ngIf="showActions" class="card-footer" >
       <button *ngIf="getQuantity()===0;else updateQuantity"  (click)="addToCart()"  class="btn btn-primary btn-block">Add to cart


       </button>

       <ng-template #updateQuantity>
         <div class="row-nogutters">
             <div class="col-2">
                 <button class="btn btn-primary btn-block" (click)="removeFromCart()">-</button>
             </div>
             <div class="col text-center">
                {{getQuantity()}} 
             </div>
             <div class="col-2">
                    <button class="btn btn-primary btn-block"  (click)="addToCart()">+</button>
                </div>
         </div>
       </ng-template>

   </div>-->